<?xml version='1.0' encoding='utf-8'?>
<widget id="com.obexto.mobilityapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Obexto MobilityApp </name>
    <description>
        Obexto Mobility : Suite d'outils dédiés aux professionnels en mobilité.
    </description>
    <author email="yannick9letallec@gmail.com" href="http://touch-pico.fr">
        Yannick @ Obexto 
    </author>
    <content src="index.html" />
    <access origin="http://developpement.obexto.fr/" subdomains="true" />
    <!-- specify platform -->
    <gap:platform name="android" />

	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
	</feature>
	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>

    <!-- specify preferences -->
<platform name="android">
    <gap:splash src="splash-1.png" gap:qualifier="land-ldpi" gap:platform="android" />
    <gap:splash src="splash-1.png" gap:qualifier="land-mdpi" gap:platform="android" />
    <gap:splash src="splash-1.png" gap:qualifier="land-hdpi" gap:platform="android" />
    <gap:splash src="splash-1.png" gap:qualifier="land-xhdpi" gap:platform="android" /> 

    <gap:splash src="splash-2.png" gap:qualifier="port-ldpi"  gap:platform="android" />
    <gap:splash src="splash-2.png" gap:qualifier="port-mdpi" gap:platform="android" />
    <gap:splash src="splash-2.png" gap:qualifier="port-hdpi" gap:platform="android" />
    <gap:splash src="splash-2.png" gap:qualifier="port-xhdpi" gap:platform="android" /> 

</platform>
    <!-- SPLASH SCREEN
    <gap:splash src="splash-2.png"  orientation="port"/>
    <gap:splash src="splash-1.png"  orientation="land"/>
  -->

    <!-- PLUGINS -->
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.vibration" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="SpeechRecognizer" value="com.phonegap.plugins.speech.SpeechRecognizer"/>


	<!-- PREFERENCES -->
     <preference name="SplashScreen" value="screen" />
     <preference name="SplashScreenDelay" value="4000" />
    
<!--
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="splash-screen-duration" value="5000" />
-->

</widget>
