<?xml version='1.0' encoding='utf-8'?>
<widget id="com.obexto.mobilityapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Obexto MobilityApp </name>
    <description>
        Obexto Mobility : Suite d'outils dédiés aux professionnels en mobilité.
    </description>
    <author email="yannick9letallec@gmail.com" href="http://touch-pico.fr">
        Yannick @ Obexto 
    </author>
    <content src="index.html" />
    <access origin="http://developpement.obexto.fr/" subdomains="true" />
    <!-- specify platform -->
    <gap:platform name="android" />

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
	</feature>

    <!-- specify preferences -->
<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="splash-1.png" orientation="landscape" />
<!--     <splash src="splash.png" density="land-ldpi"/>
    <splash src="splash.png" density="land-mdpi"/>
    <splash src="splash.png" density="land-xhdpi"/> -->

    <splash src="splash-2.png" orientation="portrait" />
<!--   <splash src="splash.png" density="port-ldpi"/>
    <splash src="splash.png" density="port-mdpi"/>
    <splash src="splash.png" density="port-xhdpi"/> -->
</platform>

    <!-- SPLASH SCREEN -->
    <gap:splash src="splash.png"  />

    <!-- PLUGINS -->
	<gap:plugin name="org.apache.cordova.camera" />

	<!-- PREFERENCES -->
     <preference name="SplashScreen" value="screen" />
     <preference name="SplashScreenDelay" value="2500" />
    
<!--
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="splash-screen-duration" value="5000" />
-->

</widget>
